---
const pageTitle = "Sobre Mí";

const identity = {
  firstName: "Andrés Buitrón",
  country: "Colómbia",
  occupation: "Web developer",
  hobbies: ["Desarrollo de Software", "Baile", "Gamming"],
};

// Cuando quiera convertir en div
const Div = "div";
const skillColor = "#800F2F";
---

<section
  class="h-screen relative flex w-full max-w-5xl text-xl text-left text-pretty px-20 mx-auto"
>
  <article class="flex flex-col justify-center">
    <h1 class="text-5xl font-bold my-7">Soy {identity.firstName}</h1>
    <p class="instructions indent-6 text-clip overflow-hidden">
      Un entusiasta por la tecnología y el desarrollo web con la mejor
      disposición para realizar labores.
    </p>
  </article>
  <figure class="profile_pic w-full max-w-72 flex flex-col justify-center">
    <img
      class="w-full"
      src="../../public/profile.jpg"
      alt="Mi foto de presentación a mi portafolio"
    />
  </figure>
</section>

<style define:vars={{ skillColor }}>
  h1 {
    color: var(--skillColor);
    font-size: 4rem;
  }
  .dark h1{
    color: #FFF0F3;
  }
  .skill {
    color: var(--skillColor);
    font-weight: bold;
  }
  p {
    color: #c9184a;
  }
</style>
