<a href="/">Inicio</a>
<a href="/about/">Sobre Mí</a>
<a href="/blog/">Un BLog</a>
<h1>Soy J Andrés Buitrón <span class="text-gradient">Astro</span></h1>
<p class="instructions">
  Soy un entusiasta por la tecnología y el desarrollo web con la mejor
  disposición para realizar labores. El stack <code>MERN</code> es mi preferido.
</p>
<ul>
    <li><a href="/posts/post-1">Mi post</a></li>
    <li><a href="/posts/post-2">Mi post</a></li>
    <li><a href="/posts/post-3">Mi post</a></li>
</ul>
