---
import Layout from "../layouts/Layout.astro";
import GlobalHeader from "../components/GlobalHeader.astro";
import About from "../pages/about.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import TechFav from "./techFav.astro";
const pageTitle = "Página de inicio";

// const ref = document.querySelector('#sectionbg2')

// export function useObserver({ myref }) { //Elparámetro que permite que un componente que esté empleando este hook pueda establecer elementos a observar

// //Creamos un estado que va almacenar los elementos que vamos a observar
// const [ myElementIsVisible, setMyElementIsVisible ] = useState(false)

// useEffect(()=>{
//     const observerOptions = {
//         root: null,
//         rootMargin: '0px',
//         threshold: 0.50
//     }
//     //console.log('Quiero el valor actual de esa referencia', myref.current)
//     const observer = new IntersectionObserver((entries)=>{
//         const entry = entries[0] // console.log('entry', entry)
//         setMyElementIsVisible(entry.isIntersecting) // console.log('El estado indefinido', myElementIsVisible)
//     }, observerOptions)
//     observer.observe(myref.current)
// }, [])

// return { myElementIsVisible }
// }
---

<Layout title={pageTitle}>
  <header>
    <GlobalHeader />
  </header>
  <main>
    <BaseLayout />
    <About />
    <section id="sectionbg2" class="relative w-full h-screen">
      <ul>
        <li><a href="/posts/post-1">Mi post</a></li>
        <li><a href="/posts/post-2">Mi post</a></li>
        <li><a href="/posts/post-3">Mi post</a></li>
      </ul>
    </section>
  </main>
  <footer>
    <TechFav />
  </footer>
  <script>
    import "../scripts/menu.js";
  </script>
</Layout>
