---
import Layout from "../layouts/Layout.astro";
import GlobalHeader from "../components/GlobalHeader.astro";
import SocialLayout from "../layouts/ItemsSocialLayout.astro";
import About from "../pages/about.astro";
import Experience from "../components/Experience.astro";
import Footer from "../components/Footer.astro";
const pageTitle = "Página de inicio"

---

<Layout title={pageTitle}>
  <header>
    <GlobalHeader />
  </header>
  <main>
    <SocialLayout />
    <About />
    <Experience />
  </main>
  <footer>
    <Footer />
  </footer>
</Layout>
