---
import Layout from '../layouts/Layout.astro'
import GlobalHeader from '../components/GlobalHeader.astro'
import SocialLayout from '../layouts/ItemsSocialLayout.astro'
import About from '../pages/about.astro'
import Experience from '../components/Experience.astro'
import Footer from '../components/Footer.astro'
const pageTitle = 'Página de inicio'
---

<Layout title={pageTitle} >
  <header id='globalheader' class='w-full fixed top-0 py-1 px-3 z-50'>
    <GlobalHeader />
  </header>
  <SocialLayout />
  <main class='snap-y' id="main">
    <div class="spotlight" id="spotlight"></div>
    <About />
    <Experience />
  </main>
  <footer>
    <Footer />
  </footer>
</Layout>

<style>
  body {
    font-family: 'Ubuntu', sans-serif;
  }
  #globalheader {
    color: var(--bg-blue);
    animation: blur linear both;
    animation-timeline: scroll();
    animation-range: 0 500px;
  }

  .spotlight {
    pointer-events: none;
    position: fixed;
    inset: 0;
    z-index: 30;
    transition: background 300ms ease;
  }

  @keyframes blur {
    to {
      box-shadow:
        0px 5px 50px -5px hsla(0, 0%, 100%, 0.1),
        0px 5px 1px rgba(255, 255, 255, 0.102);
      background: var(--bg-blue);
      backdrop-filter: blur(10px);
      color: var(--bg-white);
    }
  }
</style>

<script>
  const container = document.getElementById('main')
  const spotlight = document.getElementById('spotlight')

  container.addEventListener('mousemove', (e) => {
    const x = e.clientX 
    const y = e.clientY

    spotlight.style.background = `radial-gradient(600px circle at ${x}px ${y}px, rgba(255, 255, 255, 0.15), transparent 40%)`
  })

  container.addEventListener('mouseleave', () => {
    spotlight.style.background = 'transparent'
  })
</script>
