<div class="hamburger px-2 mx-auto my-0 cursor-pointer flex flex-col justify-center items-center">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>

<style>
  .hamburger .line {
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 5px;
    background-color: #ff9776;
  }
</style>
