---
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        document.body.classList.add('hide-overflow')
      })
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    /* Color para el brillito #1c2541 */
    /* Color para el bg dark #0b132b*/
    --bg-white: #fff0f3;
    --ct-red: #c9184a;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  html.dark {
    background-color: #0b132b;
    color: var(--ct-red);
  }

  .dark #globalheader a {
    color: var(--bg-white);
  }

  ::-webkit-scrollbar {
    width: 5px;
    border-left: 1px solid #cd0a0a;
    background-color: #ffc9c9;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #cd0a0a;
  }
  html {
    font-family: system-ui, sans-serif;
    background: var(--bg-white);
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  .item {
    background-color: #800f2f;
    color: var(--bg-white);
    &:hover {
      color: var(--ct-red);
    }
  }

  * {
    box-sizing: border-box;
  }

  body {
    position: relative;
    &:before {
      content: '';
      transition: transform 0.5s;
      transition-delay: 0.2s;
    }
    &.hide-overflow {
      &:before {
        transform: translateY(-100%);
      }
    }
  }
</style>
